.backgroundContainer {
    background: url(/bg/bg-homepage2.png) center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px; /* Set a maximum width if needed */
    width: 600px; /* Adjust the width as needed */
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
  }
  

.header {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    font-family: Londrina Solid;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

.text {
    color: red;
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    margin-top: 8px;
    background: red;
    border-radius: 5px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 470px;
    height: 50px;
    background: #eaeaea;
    border-radius: 6px;
}

.input input {
    height: 30px;
    width: 395px;
    margin-left: 10px;
    background: transparent;
    border:none;
    outline: none;
    color: black;
    font-size: 19px;
}

.input::placeholder {
    color:#797979;
}

.forgot-password {
    font-family: Londrina Solid;
    padding-left: 62px;
    margin-top: 27px;
    color:#797979;
    font-size: 18px;
}

.forgot-password span {
    color: red;
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 0 auto 60px auto;
}
.registerButton,
.loginButton {
    display: flex;
    width: 12.5625rem;
    height: 5.25rem;
    padding: 0.5rem 0.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
    border: 0px;
    border-radius: 1.125rem;

    color: var(--White, #FFF);
    font-family: Londrina Solid;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    /* 62.5% */

    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.registerButton {
    background: #00DA23;

}

.loginButton {
    background: #0A007E;
}


.gray {
    background: #eaeaea;
    color: #676767;
}
.forgot-password {
    padding-left: 0px;
    margin-top: 27px;
    color:#797979;
    font-size: 18px;
}

.forgot-password span {
    color: red;
    cursor: pointer;
}

.new-user {
    font-family: Londrina Solid;
    padding-left: 200px;
    color:red;
    font-size: 18px;
    margin: 60px auto 0 auto;
  }

.newUser-buttons {
    display: flex;
    flex-direction: column;

}

.button-empty {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

