.dashboardWrapper {
    display: flex;
    margin-top: 5rem;
    margin-left: 5rem;
}


.dashboardContainer {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 5rem;
}