.dashboardWrapper {
    display: flex;
    margin: 2rem 0rem;
    justify-content: center;
    align-items: center;
}


.dashboardContainer {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 5rem;
}